@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@media screen and (max-width: 1200px) {
  html {
    font-size: 82%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 72%;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.card {
  box-shadow: 0 0 3px #bbb;
}
.clip-1 {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}
.clip-2 {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
