@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.card {
  box-shadow: 0 0 3px #bbb;
}
.clip-1 {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}
.clip-2 {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
